
<div class="container">
    <div class="box d-flex justify-content-center mt-5">
        <form pt-5>
            <div class="row">
                    <div class="col-11">
                        <label>Highest Qualification
                            <input list="browsers" name="myBrowser" /></label>
                            <datalist id="browsers">
                              <option value="Phd">
                              <option value="Post Graduation">
                              <option value="Graduation">
                              <option value="12th">
                              <option value="10th">
                              <option value="Below 10th">
                            </datalist>
                
                </div>
               
            </div>
            <div class="row">
            
                    <div class="col-11">
                        <label>Course:<br>
                            <input list="browser" name="myBrowser" /></label>
                            <datalist id="browser">
                              <option value="MCom">
                              <option value="MCA">
                              <option value="M Tech">
                              <option value="CA">
                              <option value="CS">
                              <option value="M.Arch">
                            </datalist>
                
                </div>
               
            </div>
            <div class="row">
            
                    <div class="col-11">
                        <label>University:<br>
                            <input list="browser" name="myBrowser" /></label>
                            <datalist id="browser">
                              <option value="UIET">
                              <option value="Punjab University">
                              <option value="Chandigarh University">
                              <option value="Rayat Bahara">
                              <option value="Thapar University">
                              <option value="Delhi University">
                            </datalist>
                
                </div>
               
              </div>
           
            <div class="row">
             
                    <div class="col-11">
                        <label>Course Type:<br></label>
                        <select class="form-select form-select-lg mb-3" style="width: 370px">
                            <option selected>Open this select menu</option>
                            <option value="1">  Full Type</option>
                            <option value="2">Part Time</option>
                            <option value="3">Corresponding</option>
                          </select>
                
                </div>
               
            </div>
            <div class="row">
            
                <div class="col-11">
                    <label>Passing Year:<br>
                        <input list="year" name="myBrowser" /></label>
                        <datalist id="year">
                          <option value="2021">
                          <option value="2020">
                          <option value="2019">
                          <option value="2018">
                          <option value="2017">
                          <option value="2016">
                        </datalist>
            
            </div>
           
          </div>
          <a href="javascript: void(0);" (click)="add()"> +add more education</a>
            <div class="col-6">
            <a  class="btn btn-info mt-3 text-center"  role="button" aria-pressed="true">Register</a>
            </div> 
            <div [ngClass]="myclasses">
            <div class="row">
              <div class="col-11">
                  <label> Qualification
                      <input list="browsers" name="myBrowser" /></label>
                      <datalist id="browsers">
                        <option value="Phd">
                        <option value="Post Graduation">
                        <option value="Graduation">
                        <option value="12th">
                        <option value="10th">
                        <option value="Below 10th">
                      </datalist>
          
          </div>
         
      </div>
      <div class="row">
      
              <div class="col-11">
                  <label>Course:<br>
                      <input list="browser" name="myBrowser" /></label>
                      <datalist id="browser">
                        <option value="MCom">
                        <option value="MCA">
                        <option value="M Tech">
                        <option value="CA">
                        <option value="CS">
                        <option value="M.Arch">
                      </datalist>
          
          </div>
         
      </div>
      <div class="row">
            
        <div class="col-11">
            <label>Passing Year:<br>
                <input list="year" name="myBrowser" /></label>
                <datalist id="year">
                  <option value="2021">
                  <option value="2020">
                  <option value="2019">
                  <option value="2018">
                  <option value="2017">
                  <option value="2016">
                </datalist>
    
    </div>
   
  </div>
      
            </div>   
           </form>
    
</div>